vendor/bin
vendor/dealerdirect
vendor/squizlabs
vendor/wp-coding-standards
vendor/phpcsstandards
vendor/composer/*
vendor/composer/installed.php
vendor/php-stubs/*
vendor/gettext/*
vendor/nikic/*
vendor/composer/*

composer.lock
.idea
.phpunit.result.cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local

# Environment files
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/gettext/gettext/CHANGELOG.md
vendor/gettext/gettext/CONTRIBUTING.md
vendor/gettext/gettext/README.md
vendor/gettext/gettext/src/Merge.php
vendor/gettext/gettext/src/References.php
vendor/gettext/gettext/src/Translation.php
vendor/gettext/gettext/src/Translations.php
vendor/gettext/gettext/src/Generator/MoGenerator.php
vendor/gettext/gettext/src/Loader/Loader.php
vendor/gettext/gettext/src/Loader/LoaderInterface.php
vendor/gettext/gettext/src/Loader/MoLoader.php
vendor/gettext/gettext/src/Loader/PoLoader.php
vendor/gettext/gettext/src/Loader/StrictPoLoader.php
vendor/gettext/gettext/src/Scanner/FunctionsHandlersTrait.php
vendor/gettext/gettext/src/Scanner/ParsedFunction.php
vendor/gettext/gettext/src/Scanner/Scanner.php
vendor/nikic/php-parser/composer.json
vendor/nikic/php-parser/README.md
vendor/nikic/php-parser/lib/PhpParser/BuilderFactory.php
vendor/nikic/php-parser/lib/PhpParser/BuilderHelpers.php
vendor/nikic/php-parser/lib/PhpParser/ConstExprEvaluator.php
vendor/nikic/php-parser/lib/PhpParser/Lexer.php
vendor/nikic/php-parser/lib/PhpParser/NameContext.php
vendor/nikic/php-parser/lib/PhpParser/NodeDumper.php
vendor/nikic/php-parser/lib/PhpParser/Parser.php
vendor/nikic/php-parser/lib/PhpParser/ParserAbstract.php
vendor/nikic/php-parser/lib/PhpParser/ParserFactory.php
vendor/nikic/php-parser/lib/PhpParser/PrettyPrinterAbstract.php
vendor/nikic/php-parser/lib/PhpParser/Builder/ClassConst.php
vendor/nikic/php-parser/lib/PhpParser/Internal/PrintableNewAnonClassNode.php
vendor/nikic/php-parser/lib/PhpParser/Lexer/Emulative.php
vendor/nikic/php-parser/lib/PhpParser/Node/Arg.php
vendor/nikic/php-parser/lib/PhpParser/Node/Name.php
vendor/nikic/php-parser/lib/PhpParser/Node/Param.php
vendor/nikic/php-parser/lib/PhpParser/Node/Expr/ArrayDimFetch.php
vendor/nikic/php-parser/lib/PhpParser/Node/Expr/ArrayItem.php
vendor/nikic/php-parser/lib/PhpParser/Node/Expr/Exit_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Expr/Yield_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Break_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Catch_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Continue_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Declare_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/EnumCase.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Namespace_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/PropertyProperty.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/Return_.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/StaticVar.php
vendor/nikic/php-parser/lib/PhpParser/Node/Stmt/TryCatch.php
vendor/nikic/php-parser/lib/PhpParser/NodeVisitor/NameResolver.php
vendor/nikic/php-parser/lib/PhpParser/Parser/Multiple.php
vendor/nikic/php-parser/lib/PhpParser/Parser/Php5.php
vendor/nikic/php-parser/lib/PhpParser/Parser/Php7.php
vendor/autoload.php
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/gettext/languages/src/Exporter/Xml.php
vendor/gettext/languages/src/Exporter/Ruby.php
vendor/gettext/languages/src/Exporter/Po.php
vendor/gettext/languages/src/Exporter/Php.php
vendor/gettext/languages/src/Exporter/Json.php
vendor/gettext/languages/src/Exporter/Html.php
vendor/gettext/languages/src/Exporter/Docs.php
vendor/gettext/languages/src/cldr-data/supplemental/plurals.json
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/gettext/languages/composer.json
vendor/gettext/languages/bin/export-plural-rules
vendor/gettext/languages/src/CldrData.php
vendor/gettext/languages/src/cldr-data/main/en-US/languages.json
vendor/gettext/languages/src/cldr-data/main/en-US/scripts.json
vendor/gettext/languages/src/cldr-data/main/en-US/territories.json
vendor/gettext/languages/src/cldr-data/supplemental/plurals.json
vendor/gettext/languages/src/Exporter/Docs.php
vendor/gettext/languages/src/Exporter/Exporter.php
vendor/gettext/languages/src/Exporter/Html.php
vendor/gettext/languages/src/Exporter/Json.php
vendor/gettext/languages/src/Exporter/Php.php
vendor/gettext/languages/src/Exporter/Po.php
vendor/gettext/languages/src/Exporter/Ruby.php
vendor/gettext/languages/src/Exporter/Xml.php
