.bg-brand {
    background: color( 'brand' );
}

.bg-white {
    background-color: color( 'white' );
}

.bg-brand-light {
    background-color: color( 'brand-light' );
}

.bg-brand-gradient {
    background: color( 'brand-gradient' );
}
